
.panel-group[data-v-1b6f87d8] {
  margin-top: 18px;
}
.panel-group .card-panel-col[data-v-1b6f87d8] {
  margin-bottom: 32px;
}
.panel-group .card-panel[data-v-1b6f87d8] {
  height: 108px;
  cursor: pointer;
  font-size: 12px;
  position: relative;
  overflow: hidden;
  color: #666;
  background: #fff;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.05);
}
.panel-group .card-panel:hover .card-panel-icon-wrapper[data-v-1b6f87d8] {
  color: #fff;
}
.panel-group .card-panel:hover .icon-people[data-v-1b6f87d8] {
  background: #40c9c6;
}
.panel-group .card-panel:hover .icon-message[data-v-1b6f87d8] {
  background: #36a3f7;
}
.panel-group .card-panel:hover .icon-money[data-v-1b6f87d8] {
  background: #f4516c;
}
.panel-group .card-panel:hover .icon-shoppingCard[data-v-1b6f87d8] {
  background: #34bfa3;
}
.panel-group .card-panel .icon-people[data-v-1b6f87d8] {
  color: #40c9c6;
}
.panel-group .card-panel .icon-message[data-v-1b6f87d8] {
  color: #36a3f7;
}
.panel-group .card-panel .icon-money[data-v-1b6f87d8] {
  color: #f4516c;
}
.panel-group .card-panel .icon-shoppingCard[data-v-1b6f87d8] {
  color: #34bfa3;
}
.panel-group .card-panel .card-panel-icon-wrapper[data-v-1b6f87d8] {
  float: left;
  margin: 14px 0 0 14px;
  padding: 16px;
  -webkit-transition: all 0.38s ease-out;
  transition: all 0.38s ease-out;
  border-radius: 6px;
}
.panel-group .card-panel .card-panel-icon[data-v-1b6f87d8] {
  float: left;
  font-size: 48px;
}
.panel-group .card-panel .card-panel-description[data-v-1b6f87d8] {
  float: right;
  font-weight: bold;
  margin: 26px;
  margin-left: 0px;
}
.panel-group .card-panel .card-panel-description .card-panel-text[data-v-1b6f87d8] {
  line-height: 18px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
  margin-bottom: 12px;
}
.panel-group .card-panel .card-panel-description .card-panel-num[data-v-1b6f87d8] {
  font-size: 20px;
}


.aside {
  position: fixed;
  margin-top: 50px;
  min-height: calc(100vh - 50px);
  z-index: 10;
  background-color: #222d32;
  height: 100%;
}


.aside {
  position: fixed;
  margin-top: 50px;
  min-height: calc(100vh - 50px);
  z-index: 10;
  background-color: #222d32;
  height: 100%;
}





.jing-main[data-v-0e494c96] {
  padding: 20px;
}

